* { margin: 0px;
padding: 0px;}
:root {
    --font1:'Oswald', sans-serif;
    --font2: 48px;
    --font-family1:'Amiri', serif;
    --font-size:18px;
    --color1:#666666;;


}
.banner_top {
    background-image: url(03.jpeg);
    width: 100%;
    height: 600px;
    background-size: cover;
    
    font-size: 20px;
    position: relative;
    background-attachment: fixed;
    transition: 0.4s;
    
}
.banner_top:before {
    content: '';
    background-image: -webkit-linear-gradient(left, #00000082 0% , #ffffff00 50%, #000000b5 100%);
 position: absolute;
 width: 100%;
 height: 600px;
} 
.banner_top ._3cot {
    display: flex;
    position: absolute;
    width: 100%;
}
.banner_top ._3cot .left{
    width: 33.3%;
    padding: 30px 20px;
   
}
.banner_top ._3cot .left a{
    color: rgba(255, 255, 255, 0.911);
}
.banner_top ._3cot .left a:hover {
    color: burlywood;
}
.banner_top ._3cot .between{ width: 33.3%;
text-align: center;
}
.banner_top ._3cot .between img{
    width: 20%;
    padding-top: 30px;
}
.banner_top  ._3cot .right{ width: 33.3%;
text-align: right;
padding: 30px ;
}
.banner_top  ._3cot .right a{
    color: rgba(255, 255, 255, 0.781);
    padding:5px;
} 
/* het _3cot  */
.father {
   width: 100%;
   top: 50%;
    position: absolute;
}
.father .text {
    margin: auto;
    width: 1170px;
   
 color: #fff;
    

    
}
.father .text .textabove{
    color: rgba(255, 255, 255, 0.452);
}


.father .text h1{
    font-family: var(--font1);
    font-size: var(--font2);
    width: 50%;
}
/* hetdiv father  */
.bm {
    width: 1170px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    font-family: var(--font-family1);
    color: var(--color1);

}
.bm .bm_1{
    width: 35%;
}
.bm .bm_1 span{ font-size: var(--font-size);}
.bm .bm_1 h2{
    width: 50%;
    

}
.bm .bm_2 {
    width: 65%;
}
.bm .bm_2 p{
    font-size: var(--font-size);
    padding: 0px 0px 10px;

}
.bm .bm_2 a{
    font-size: 16px;
    text-decoration: none;
    margin-left: 40px;
    color: rgba(175, 78, 78, 0.808);

}
.bm .bm_2 a:hover {
    color: rgba(12, 6, 6, 0.589);
}
.bm .bm_2 a:before {
    content: '\f178';
    font: normal normal normal 14px/1 FontAwesome;
    left: -20px;
    position: relative;
    transition: 0.4s;



}
.bm .bm_2 a:hover:before {
    left: 0px;
}